<!--  Project : Online Car Rental System
      Author : Oumou Keita  -->

<!-- Layout page for Home controller -->



<!DOCTYPE html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--=== Favicon ===-->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon" />

    <title>Cardoor - Car Rental System Project</title>

    <!--=== Bootstrap CSS ===-->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet">
    <!--=== Vegas Min CSS ===-->
    <link href="~/Content/css/vegas.min.css" rel="stylesheet">
    <!--=== Slicknav CSS ===-->
    <link href="~/Content/css/slicknav.min.css" rel="stylesheet">
    <!--=== Magnific Popup CSS ===-->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet">
    <!--=== Owl Carousel CSS ===-->
    <link href="~/Content/css/owl.carousel.min.css" rel="stylesheet">
    <!--=== Gijgo CSS ===-->
    <link href="~/Content/css/gijgo.css" rel="stylesheet">
    <!--=== FontAwesome CSS ===-->
    <link href="~/Content/css/font-awesome.css" rel="stylesheet">
    <!--=== Theme Reset CSS ===-->
    <link href="~/Content/css/reset.css" rel="stylesheet">
    <!--=== Main Style CSS ===-->
    <link href="~/Content/css/style.css" rel="stylesheet">
    <!--=== Responsive CSS ===-->
    <link href="~/Content/css/responsive.css" rel="stylesheet">

    <!-- We might remove link if the browser used is less than the 9 version -->
    <!--[if lt IE 9]>
        <script src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
        <script src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="loader-active">

    <!--== Preloader Area Start ==-->
    <div class="preloader">
        <div class="preloader-spinner">
            <div class="loader-content">
                <img src="~/Content/images/preloader.gif" alt="JSOFT">
            </div>
        </div>
    </div>
    <!--== Preloader Area End ==-->
    <!--== Header Area Start ==-->
    <header id="header-area" class="fixed-top">
        <!--== Header Top Start ==-->
        <div id="header-top" class="d-none d-xl-block">
            <div class="container">
                <div class="row">
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-left">
                        <i class="fa fa-map-marker"></i>Florya Yerleşkesi (Halit Aydın Yerleşkesi)
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-mobile"></i> +90 531 618 03 69
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Single HeaderTop Start ==-->
                    <div class="col-lg-3 text-center">
                        <i class="fa fa-clock-o"></i> Mon-Fri 09.00 - 17.00
                    </div>
                    <!--== Single HeaderTop End ==-->
                    <!--== Social Icons Start ==-->
                    <div class="col-lg-3 text-right">
                        <div class="header-social-icons">
                            <a href="#"><i class="fa fa-behance"></i></a>
                            <a href="#"><i class="fa fa-pinterest"></i></a>
                            <a href="#"><i class="fa fa-facebook"></i></a>
                            <a href="#"><i class="fa fa-linkedin"></i></a>
                        </div>
                    </div>
                    <!--== Social Icons End ==-->
                </div>
            </div>
        </div>
        <!--== Header Top End ==-->
        <!--== Header Bottom Start ==-->
        <div id="header-bottom">
            <div class="container">
                <div class="row">
                    <!--== Logo Start ==-->
                    <div class="col-lg-4">
                        <a href="@Url.Action("Index","Home")" class="logo">
                            <img src="~/Content/images/logo.png" alt="JSOFT">
                        </a>
                    </div>
                    <!--== Logo End ==-->
                    <!--== Main Menu Start ==-->
                    <div class="col-lg-8 d-none d-xl-block">
                        <nav class="mainmenu alignright">
                            <ul>
                                <li class="active"> <a href="@Url.Action("Index","Home")">Home</a> </li>
                                <li><a href="@Url.Action("About","Home")">About</a></li>
                                <li><a href="@Url.Action("ProjectDetail","Home")">Project</a></li>
                                <li>
                                    <a href="@Url.Action("Cars","Home")">Cars</a>

                                </li>
                                <!--     <li>
                                     <a href="index.html">Pages</a>
                                     <ul>
                                         <li><a href="package.html">Pricing</a></li>
                                         <li><a href="driver.html">Driver</a></li>
                                         <li><a href="faq.html">FAQ</a></li>
                                         <li><a href="gallery.html">Gallery</a></li>
                                         <li><a href="help-desk.html">Help Desk</a></li>
                                         <li><a href="login.html">Log In</a></li>
                                         <li><a href="register.html">Register</a></li>
                                         <li><a href="404.html">404</a></li>
                                     </ul>
                                 </li>
                                -->
                                <li><a style="font-size:30px; margin-top:-15px;" href="@Url.Action("Login","Account")"><i class="fa fa-user"></i></a></li>
                            </ul>
                        </nav>
                    </div>
                    <!--== Main Menu End ==-->
                </div>
            </div>
        </div>
        <!--== Header Bottom End ==-->
    </header>
    @RenderBody()


    <!--== Footer Area Start ==-->
    <section id="footer-area">
        <!-- Footer Widget Start -->
        <div class="footer-widget-area">
            <div class="container">
                <div class="row">
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>About Us</h2>
                            <div class="widget-body">
                                <img src="~/Content/images/logo.png" alt="JSOFT">
                                <p>Car online rental system is a project designed by Oumou Keita for programming courses at aydin university.</p>

                                <div class="newsletter-area">
                                    <form action="index.html">
                                        <input type="email" placeholder="Subscribe Our Newsletter">
                                        <button type="submit" class="newsletter-btn"><i class="fa fa-send"></i></button>
                                    </form>
                                </div>

                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>Languages used</h2>
                            <div class="widget-body">
                                <ul class="recent-post">
                                    <li>
                                        <a href="#">
                                            ASP.NET MVC
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            JAVASCRIPT
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            BOOTSTRAP
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            JQUERRY
                                            <i class="fa fa-long-arrow-right"></i>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                    <!-- Single Footer Widget Start -->
                    <div class="col-lg-4 col-md-6">
                        <div class="single-footer-widget">
                            <h2>get touch</h2>
                            <div class="widget-body">
                                <p>Send me a message or text me directly by the online tchat below </p>

                                <ul class="get-touch">
                                    <li><i class="fa fa-map-marker"></i> 800/8, şirinevler, Istanbul</li>
                                    <li><i class="fa fa-mobile"></i> +90 531 618 03 69 </li>
                                    <li><i class="fa fa-envelope"></i> oumoukeita@gmail.com</li>
                                </ul>
                                <a href="tel:0090-531-618-0369" class="map-show" target="_blank">Call me</a>
                            </div>
                        </div>
                    </div>
                    <!-- Single Footer Widget End -->
                </div>
            </div>
        </div>
        <!-- Footer Widget End -->
        <!-- Footer Bottom Start -->
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <p>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>document.write(new Date().getFullYear());</script> All rights reserved | This project is made with by Oumou Keita
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Bottom End -->
    </section>
    <!--== Footer Area End ==-->
    <!--== Scroll Top Area Start ==-->
    <div class="scroll-top">
        <img src="~/Content/images/scroll-top.png" alt="JSOFT">
    </div>
    <!--== Scroll Top Area End ==-->
    <!--=======================Javascript============================-->
    <!--=== Jquery Min Js ===-->
    <script src="~/Content/scripts/jquery-3.2.1.min.js"></script>
    <!--=== Jquery Migrate Min Js ===-->
    <script src="~/Content/scripts/jquery-migrate.min.js"></script>
    <!--=== Popper Min Js ===-->
    <script src="~/Content/scripts/popper.min.js"></script>
    <!--=== Bootstrap Min Js ===-->
    <script src="~/Content/scripts/bootstrap.min.js"></script>
    <!--=== Gijgo Min Js ===-->
    <script src="~/Content/scripts/gijgo.js"></script>
    <!--=== Vegas Min Js ===-->
    <script src="~/Content/scripts/vegas.min.js"></script>
    <!--=== Isotope Min Js ===-->
    <script src="~/Content/scripts/isotope.min.js"></script>
    <!--=== Owl Caousel Min Js ===-->
    <script src="~/Content/scripts/owl.carousel.min.js"></script>
    <!--=== Waypoint Min Js ===-->
    <script src="~/Content/scripts/waypoints.min.js"></script>
    <!--=== CounTotop Min Js ===-->
    <script src="~/Content/scripts/counterup.min.js"></script>
    <!--=== YtPlayer Min Js ===-->
    <script src="~/Content/scripts/mb.YTPlayer.js"></script>
    <!--=== Magnific Popup Min Js ===-->
    <script src="~/Content/scripts/magnific-popup.min.js"></script>
    <!--=== Slicknav Min Js ===-->
    <script src="~/Content/scripts/slicknav.min.js"></script>

    <!--=== Mian Js ===-->
    <script src="~/Content/scripts/main.js"></script>

  
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>

</html>