@model carwebsite.Models.RegisterViewModel
@{
    ViewBag.Title = "Log in";
    Layout = "~/Views/Home/_HomeLayout.cshtml";
}

<!--== Page Title Area Start ==-->
<section id="page-title-area" class="section-padding overlay">
    <div class="container">
        <div class="row">
            <!-- Page Title Start -->
            <div class="col-lg-12">
                <div class="section-title  text-center">
                    <h2>Sign up</h2>
                    <span class="title-line"><i class="fa fa-car"></i></span>
                    <p>Online rental car system</p>
                </div>
            </div>
            <!-- Page Title End -->
        </div>
    </div>
</section>
<!--== Page Title Area End ==-->
<!--== Login Page Content Start ==-->
<section id="lgoin-page-wrap" class="section-padding">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-8 m-auto">
                <div class="login-page-content">
                    @using (Html.BeginForm("Register", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {<div class="login-form">
                            <h3>Welcome Back!</h3>
                            @Html.AntiForgeryToken()

                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                            <div class="username">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "Email or Username" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>

                            <div class="password">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control", placeholder = "Password" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>

                            <div class="password">
                                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", placeholder = "Confirm Password" })
                                @Html.ValidationMessageFor(m => m.ConfirmPassword, "", new { @class = "text-danger" })
                            </div>
                            <div class="log-btn">
                                <button type="submit"><i class="fa fa-sign-in"></i> Log In</button>
                            </div>

                        </div>

                    }

                    <div class="login-other">
                        <span class="or">or</span>
                        <a href="#" class="login-with-btn facebook"><i class="fa fa-facebook"></i> Login With Facebook</a>
                        <a href="#" class="login-with-btn google"><i class="fa fa-google"></i> Login With Google</a>
                    </div>
                    <div class="create-ac">
                        <p>have an account? <a href="@Url.Action("Login","Account")">Sign in</a></p>
                    </div>
                    <div class="login-menu">
                        <a href="@Url.Action("About","Home")">About</a>
                        <span>|</span>
                        <a href="@Url.Action("Cars","Home")">Cars</a>
                    </div>

                </div>
            </div>
        </div>
    </div>

</section>


